/* Fixed Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span {
  display: inline-block;
}
img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
::selection{
  background-color: #1f1f1f;
  color: #fff;
}
/* =========================== */


/* Nav Bar Style */
nav{
  border-top: 0 I !important;
  border-bottom: 1px solid rgb(0, 0, 0);
  z-index: 7777;
  background-color: transparent !important;
  top: 0;
}
.nav-links{
  border-right: 3px solid rgb(0, 0, 0);
  padding-right: 30px !important;
  margin-right: 30px !important;

}
nav i{
  padding: 0 5px;
  color: #fff;
  font-size: 15px;
  transition: all 0.6s;
}
nav ul li a{
  color: #fff !important;
  font-family: 'Poppins', sans-serif;;
  font-size: 15px !important;
}
nav .nav-logo{
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
nav .nav-logo::after{
  content: ".";
  color: #00bfd8;
}
nav .social-icon li:hover i{
  color: #ccc !important;
}
.navbar {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.scrolled {
  background-color: white !important; /
}
.scrolled .nav-logo, .scrolled .navbar-nav .nav-link {
  color: black !important; 
}
.scrolled .social-icon i {
  color: black !important; 
}
/* End Nav Bar Style */


/* Carousle Style */
.carousel-item {
  height: 100vh;  
  background-size: cover;
  background-position: center;
}
.carousel-controls {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}
.carousel-controls button {
  background-color: transparent !important;
  border: 1px white solid !important;
  padding: 13px;
  border-left: 0 !important;
  position: relative;
}
.carousel-controls button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  z-index: -8;
}
.carousel-controls button i {
  color: #fff;
  transition: all 0.5s;
  z-index: 3;
}
.carousel-controls button:hover i {
  color: black;
}
.carousel-controls button:hover::after {
  left: 0%;
}
/* End Carousle Style */


/* Header Section Style */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
}
.header-content h1{
  font-size: 100px;
  font-family: 'Poppins', sans-serif;;
  font-weight: 700;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  
}
.header-content p{
  font-size: 18;
  font-family: 'Poppins', sans-serif;;
  font-weight: 400;
  color: #fff;
  margin: 10px 0 ;
}
.header-content .btn a{
  margin: 0 10px;
}
.header-content .btn a{
  padding: 11px 30px;
  border-radius: 4px;
  color: white !important;
  font-size: 14px !important;
  font-family: 'Poppins', sans-serif;;
  font-weight: 600;
  margin-top: 25px;
  transition: all .7s;
}
.header-content .btn .solid{
  background-color: #00c3da;
}
.header-content .btn .solid:hover{
  transform: translate(0px , -1px);
  color: #00d5ee;
}
.header-content .btn .reg{
  background-color: transparent;
  border: 1px solid #fff;
}
.header-content .btn .reg:hover{
  transform: translate(0px , -1px);
  color: #000 !important;
  background-color: #fff;
}
/* End Header Section Style */


/* About Section Style */
.about{
  padding: 110px 0;
  font-family: 'Poppins', sans-serif;;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.about p{
  color: rgb(120, 120, 120);
}
.about h6{
  font-size: 13px;
  font-weight: 500;
  color: rgb(31, 31, 31);
} 
.about span::after{
  content: "|";
  color: #00bfd8;
  animation: typing 4s infinite;
}
.about a{
  border-radius: 0;
  background-color: transparent;
  line-height: 48px;
  border-width: 1px;
  padding: 0 30px;
  border: #000 1px solid;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #1f1f1f;
  border-color: #dedede;
  transition: all 0.3s;
}
.about a:hover{
  color: #fff !important;
  background-color: #000;
  cursor: pointer;
  transform: translate(0px , -1px);
}
@keyframes typing {
  0%{
    content: "|";
    }
    
    2%{
    content: "a|";
    }
    
    4%{
    content: "ap|";
    }
    
    6%{
    content: "app|";
    }
    
    8%{
    content: "apps|";
    }
    10%{
    content: "apps|";
    }
    12%{
    content: "app";
    }
    
    14%{
    content: "ap|";
    }
    
    16%{
    content: "ap|";
    }
    
    18%{
    content: "a|";
    }
    
    20%{
    content: "|";
    }
    
    22%{
    content: "|";
    }
    24%{
    content: "|";
    }
    
    26%{
    content: "s|";
    }
    
    28%{
    content: "so|";
    }
    
    30%{
    content: "sof|";
    }
    
    32%{
    content: "soft|";
    }
    
    34%{
    content: "softw|";
    }
    
    36%{
    content: "softwa|";
    }
    
    38%{
    content: "softwar|";
    }
    
    40%{
    content: "software|";
    }
    
    42%{
    content: "softwares|";
    }
    44%{
    content: "softwares|";
    }
    46%{
    content: "softwares|";
    }
    48%{
    content: "software|";
    }
    
    50%{
    content: "softwar|";
    }
    
    52%{
    content: "sfotwa|";
    }
    
    54%{
    content: "softw|";
    }
    
    56%{
    content: "soft|";
    }
    
    58%{
    content: "sof|";
    }
    
    60%{
    content: "so|";
    }
    
    62%{
    content: "s|";
    }
    
    64%{
    content: "|";
    }
    
    66%{
    content: "|";
    }
    68%{
    content: "|";
    }
    
    70%{
    content: "w|";
    }
    
    72%{
    content: "we|";
    }
    
    74%{
    content: "web|";
    }
    
    76%{
    content: "webs|";
    }
    
    78%{
    content: "websi|";
    }
    
    80%{
    content: "websit|";
    }
    
    82%{
    content: "website|";
    }
    
    84%{
    content: "websites|";
    }
    
    86%{
    content: "website|";
    }
    
    88%{
    content: "websit|";
    }
    
    90%{
    content: "websi|";
    }
    
    92%{
    content: "webs|";
    }
    
    94%{
    content: "web|";
    }
    96%{
      content: "we|";
    }
    98%{
    content: "w|";
    }
    
    100%{
    content: "|";
    }
    
}
/* End About Section Style */


/* Team Section Style */
.team{
  padding: 110px 0;
}
.header-tittle{
  margin-bottom: 25px;
}
.header-tittle > h4{
  font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #787878;
    margin-block: 10px;
}
.header-tittle .double-word h2{
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  user-select: none;
  font-weight: 700;
  font-size: 76px;
}
.header-tittle .double-word h3{
  font-family: 'Poppins', sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: #1f1f1f;
}
.team-social a{
  font-size: 13px;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
}
.team-txt h3{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.team-txt p{
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.team-layer {
  transform: translatey(20px);
  background-color: rgba(0, 195, 218,9);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.team-member:hover .team-layer{
  transform: translatey(0);
  opacity: 0.8;
}
/* End Team Section Style */


/* Services Section Style */
.services{
  padding: 110px 0;
  background-color: #626262;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
.services .serve h4{
  font-size: 13px;
  font-weight: 600;
}
.services .whatWeDo{
  text-align: left !important;
}
.services .whatWeDo h2{
  opacity: 0.06;
  position:relative;
  left: -10px;
  font-weight: 700;
  font-size: 76px;
}
.services .whatWeDo h3{
  color:#fff ;
  font-size: 38px;
  font-weight: 700;
}
.services .whatWeDo p{
  text-align: left;
}
.services .whatWeDo .double-word{
  margin-bottom: 25px;
}
.services .task >*{
  font-size: 16px;
  font-weight: 400;
  margin:  10px 5px;
}
/* End Services style */


/* Pricing Section Style */
.price{
  padding: 110px 0;
  background-color: #f7f7f7;
}
.price-card{
  
  font-family: 'Poppins', sans-serif;
}
.price-card  .inner-price{
  background-color: #fff; 
  padding: 45px 30px;

}
.price-card h4{
  font-size: 13px;
  font-weight: 400px;
}
.price-card .ammount{
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
.price-card .ammount h2{
  position: relative;
  font-size: 55px;
  transform: translatex(15px);
}
.price-card .ammount h2::after{
  content: "$";
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 18px;
}
.price-card ul{
  margin-top: 15px;
}
.price-card ul li{
 padding: 8px;
 color: rgb(120, 120, 120);
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}
.price-card a{
  color: #fff;
  padding: 0 16px;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  background-color: #00c3da;
  transition: all 0.5s;
  border-radius: 5px;
}
.price-card a:hover{
  background-color: #00d5ee;
  transform: translatey(-1px);
}
.best-icon{
  position: absolute;
  top: 40px;
  right: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #00c3da;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
}
.best-value , .best-value::after
{
  color: #00bfd8;
}
.best-card{
  transform: scaley(1.1);
}
/* End Price Section Stlye */
